<h1>Index</h1>
<table>
  <% @events.each do |event| %>  
    <tr>
      <td>Title<%= event.title %></td>
      <td><%= event.starts_at %></td>
      <td><%= event.class_name %></td>
      <td><%= event.editable %></td>
      <td><%= event.start_editable %></td> 
    </tr>
  <% end %>
</table>