<h1>Calendar</h1>  
 <%= form_for(@event) do |f| %>  
  <div class="field">  
   <%= f.label :title %><br />  
   <%= f.text_field :title %>  
  </div>  
  <div class="field">  
   <%= f.label :all_day %><br />  
   <%= f.check_box :all_day %>  
  </div>  
  <div class="field">  
   <%= f.label :starts_at %><br />  
   <%= f.datetime_select :starts_at %>  
  </div>  
  <div class="field">  
   <%= f.label :ends_at %><br />  
   <%= f.datetime_select :ends_at %>  
  </div>
  <div class="field">  
   <%= f.label :class_name %><br />  
   <%= f.text_field :class_name %>  
  </div>
  <div class="field">  
   <%= f.label :editable %><br />  
   <%= f.check_box :editable %>  
  </div>
  <div class="field">  
   <%= f.label :start_editable %><br />  
   <%= f.check_box :start_editable %>  
  </div>
  <div class="field">  
   <%= f.label :duration_editable %><br />  
   <%= f.check_box :duration_editable %>  
  </div>
  <div class="field">  
   <%= f.label :color %><br />  
   <%= f.text_field :color %>  
  </div>
  <div class="field">  
   <%= f.label :background_color %><br />  
   <%= f.text_field :background_color %>  
  </div>
  <div class="field">  
   <%= f.label :border_color %><br />  
   <%= f.text_field :border_color %>  
  </div>
  <div class="field">  
   <%= f.label :text_color %><br />  
   <%= f.text_field :text_color %>  
  </div>
  <div class="field">  
   <%= f.label :description %><br />  
   <%= f.text_area :description %>  
  </div>  
  <div class="actions">  
   <%= f.submit %>  
  </div>  
<% end %>