<h1> show </h1>
<td>Title: <%= @event.title %></td>
<td>All_day: <%= @event.all_day %></td>
<td>Starts_at: <%= @event.starts_at %></td>
<td>Class name: <%= @event.class_name %></td>
<td>Editable: <%= @event.editable %></td>
<td>Start_editable: <%= @event.start_editable %></td>
<td>Color: <%= @event.color %></td>
<td>Border_color: <%= @event.border_color %></td>
<td>Text_color: <%= @event.text_color %></td>
<td>Background_color: <%= @event.background_color %></td>

